<% include ../layout/header %>
<% include ../layout/menu %>

<div class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="woocommerce-breadcrumb">
                    <a href="/">Home</a>
                    <span class="separator">/</span> Sign In
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="entry-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="entry-title">Sign In</h1>
            </div>
        </div>
    </div>
</div>

<div class="login-page-area">
    <div class="container">
        <div class="login-area">
            <div class="row">
                <div class="col-md-6">
                    <div class="well mb-sm-30">
                        <div class="new-customer">
                            <h3 class="custom-title">new customer</h3>
                            <p class="mtb-10"><strong>Register</strong></p>
                            <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made</p>
                            <a class="customer-btn" href="/register">continue</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="well">
                        <div class="return-customer">
                            <h3 class="mb-10 custom-title">Returnng customer</h3>
                            <p class="mb-10"><strong>I am a returning customer</strong></p>
                            <div class="inputbox">
                                    <div class="form-login-error" style="display: none; text-align: center;">
                                        <p id="loginResponse" style="color: red"></p>
                                    </div>
                                </div>
                            <form>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" name="email" id="email" placeholder="Enter your email address..." class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="text" name="password" id="password" placeholder="Password" class="form-control">
                                </div>
                                <input type="submit" value="Login" class="return-customer-btn" id="login-form">
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Returning Customer End -->
            </div>
        </div>
    </div>
</div>
<!-- cart page content end -->
<footer class="footer-area">
        <div class="newsletter-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="footer-social">
                            <ul class="social-icons">
                                <li><a class="facebook social-icon" href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter social-icon" href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="instagram social-icon" href="#" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li><a class="linkedin social-icon" href="#" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="rss social-icon" href="#" title="Rss" target="_blank"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-policy-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3 col-md-3 col-xs-12 foo-pol">
                        <div class="footer-policy-box">
                            <p><i class="icon ion-reply-all"></i></p>
                            <h3>Free Returns</h3>
                            <p>Currently over 50 countries qualify for express international shipping.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 col-md-3 col-xs-12 foo-pol">
                        <div class="footer-policy-box">
                            <p><i class="icon ion-ribbon-b"></i></p>
                            <h3>Customer Support</h3>
                            <p>We really care about you and your website as much as you do.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 col-md-3 col-xs-12 foo-pol">
                        <div class="footer-policy-box">
                            <p><i class="icon ion-android-plane"></i></p>
                            <h3>International Shipping</h3>
                            <p>Currently over 50 countries qualify for express international shipping.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 col-md-3 col-xs-12 foo-pol">
                        <div class="footer-policy-box">
                            <p><i class="icon ion-android-star"></i></p>
                            <h3>Dedicated Service</h3>
                            <p>Consult our specialists for help with an order, customization, or design advice.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<% include ../layout/footer %>
<script src="/javascript/login.js"></script>