<div class="footer-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 col-md-3 col-xs-12">
                <div class="footer-logo-area">
                    <a href="#"><img src="images/logo/logo-black.png" alt="footer logo"></a>
                    <p>We are a team of designers and developers that create high quality Wordpress, Magento, Prestashop, Opencart.</p>
                    <ul>
                        <li>
                            <h4>Contact info:</h4>
                            <p>169-C, Technohub, Dubai Silicon Oasis.</p>
                        </li>
                        <li>
                            <h4>Telephone:</h4>
                            <p>(+011) 123 777 8888 - (+011) 123 888 9999</p>
                        </li>
                        <li>
                            <h4>Email:</h4>
                            <p>Support@example.com</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-md-3 col-xs-12">
                <div class="footer-menu">
                    <h3>Customer Service</h3>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Order History</a></li>
                        <li><a href="#">Site Map</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Unsubscribe Notification</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-md-3 col-xs-12">
                <div class="footer-menu">
                    <h3>Information</h3>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Delivery infomation</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Warranty</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Seller Login</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-md-3 col-xs-12">
                <div class="footer-menu">
                    <h3>Extras</h3>
                    <ul>
                        <li><a href="#">Brands</a></li>
                        <li><a href="#">Gift Vouchers</a></li>
                        <li><a href="#">Affiliates</a></li>
                        <li><a href="#">Wishlist</a></li>
                        <li><a href="#">Order History</a></li>
                        <li><a href="#">Track Your Order</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-copyright-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-md-6">
                <p>Copyright © 2018 Bege . All Rights Reserved.</p>
            </div>
            <div class="col-sm-12 col-lg-6 col-md-6 pull-right">
                <img src="images/icons/payment-icon.png" alt="payment icon">
            </div>
        </div>
    </div>
</div>
</footer>
</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nivo.slider.pack.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript">
    var baseurl = "<%= HOST %>";
    console.log(baseurl);
  </script>
</body>
</html>
