<div class="slider-area">
    <div class="container">
        <div class="row">
            <div class="slider-hidden col-lg-3">
                
            </div>
            <div class="slider col-xl-9">
            
                <div class="slider-area-inner">
                    <div class="slider-inner">
                        <div id="mainSlider" class="nivoSlider nevo-slider">
                            <img src="images/slider/1.jpg" alt="main slider" title="#htmlcaption1"/>
                            <img src="images/slider/2.jpg" alt="main slider" title="#htmlcaption2"/>
                        </div>	
                        <div id="htmlcaption1" class="nivo-html-caption slider-caption">
                            <div class="slider-progress"></div>
                            <div class="col-md-9">
                                <div class="slider-content slider-content-1 slider-animated-1">
                                    <h1 class="hone">INNOVATIVE</h1>
                                    <h1 class="htwo">SMARTER</h1>
                                    <h1 class="hthree">BRIGHTER</h1>
                                    <h3>40” SkyHi Smart Package</h3> 
                                    <div class="button-1 hover-btn-2">
                                        <a href="shop.html">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="htmlcaption2" class="nivo-html-caption slider-caption">
                            <div class="slider-progress"></div>
                            <div class="col-md-9">
                                <div class="slider-content slider-content-2 slider-animated-2">
                                    <h1 class="hone">DRONE DIY</h1>
                                    <h1 class="htwo">WORKSHOP</h1>
                                    <h3 class="h3one">Build & Fly</h3>
                                    <h3 class="h3two">Your Own drone!</h3>
                                    <div class="button-1 hover-btn-1">
                                        <a href="shop.html">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>					
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-banner-area col-sm-12">
                <div class="slider-banner">
                    <div class="slider-single-banner">
                        <a href="shop.html">
                            <img src="images/banner/banner1.jpg" alt="Banner">
                        </a>
                    </div>
                </div>
                <div class="slider-banner">
                    <div class="slider-single-banner">
                        <a href="shop.html">
                            <img src="images/banner/banner2.jpg" alt="Banner">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>