<!-- Modal Popup for new Arrivals -->
<div id="quickview-wrapper">
        <div class="modal fade" id="product_modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-close-btn">
                        <button class="close" data-dismiss="modal">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                       <div class="single-product-area">
                           <div class="container-fullwidth">
                               <div class="single-product-wrapper">
                                   <div class="row">
                                       <div class="col-xs-12 col-md-7 col-lg-7">
                                            <div class="product-details-img-content">
                                                <div class="product-details-tab mr-40">
                                                    <div class="product-details-large tab-content">
                                                        <div class="tab-pane active active-class" id="pro-details1">
                                                            <div class="product-pop">
                                                                <a href="#">
                                                                    <img src="images/product/single/product4.jpg" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="pro-details2">
                                                            <div class="product-pop">
                                                                <a href="#">
                                                                    <img src="images/product/single/product5.jpg" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="pro-details3">
                                                            <div class="product-pop">
                                                                <a href="#">
                                                                    <img src="images/product/single/product6.jpg" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="pro-details4">
                                                            <div class="product-pop">
                                                                <a href="#">
                                                                    <img src="images/product/single/product7.jpg" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="pro-details5">
                                                            <div class="product-pop">
                                                                <a href="#">
                                                                    <img src="images/product/single/product8.jpg" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-details-small nav product-dec-slider-qui owl-carousel">
                                                        <a class="active" href="#pro-details1">
                                                            <img src="images/product/thumbnails/product4.jpg" alt="">
                                                        </a>
                                                        <a href="#pro-details2">
                                                            <img src="images/product/thumbnails/product5.jpg" alt="">
                                                        </a>
                                                        <a href="#pro-details3">
                                                            <img src="images/product/thumbnails/product6.jpg" alt="">
                                                        </a>
                                                        <a href="#pro-details4">
                                                            <img src="images/product/thumbnails/product7.jpg" alt="">
                                                        </a>
                                                        <a href="#pro-details5">
                                                            <img src="images/product/thumbnails/product8.jpg" alt="">
                                                        </a>
                                                        <a class="active" href="#pro-details1">
                                                            <img src="images/product/thumbnails/product4.jpg" alt="">
                                                        </a>
                                                        <a href="#pro-details2">
                                                            <img src="images/product/thumbnails/product5.jpg" alt="">
                                                        </a>
                                                        <a href="#pro-details3">
                                                            <img src="images/product/thumbnails/product6.jpg" alt="">
                                                        </a>
                                                        <a href="#pro-details4">
                                                            <img src="images/product/thumbnails/product7.jpg" alt="">
                                                        </a>
                                                        <a href="#pro-details5">
                                                            <img src="images/product/thumbnails/product8.jpg" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                       </div>
                                       <div class="col-xs-12 col-md-5 col-lg-5">
                                           <div class="single-product-info">
                                               <h1>Sit volusdfgfhptatem</h1>
                                               <div class="product-rattings">
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star"></i></span>
                                                    <span><i class="fa fa-star-half-o"></i></span>
                                                    <span><i class="fa fa-star-o"></i></span>
                                                </div>
                                                <span class="price">
                                                    <del>$ 77.00</del> $ 66.00
                                                </span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus</p>
                                                <div class="box-quantity d-flex">
                                                    <form action="#">
                                                        <input class="quantity mr-40" min="1" value="1" type="number">
                                                    </form>
                                                    <a class="add-cart" href="cart.html">add to cart</a>
                                                </div>
                                                <div class="wishlist-compear-area">
                                                    <a href="wishlist.html"><i class="ion-ios-heart-outline"></i> Add to Wishlist</a>
                                                    <a href="#"><i class="ion-ios-loop-strong"></i> Compare</a>
                                                </div>
                                                <div class="product_meta">
                                                    <span class="posted_in">Categories: <a href="#" rel="tag">Accessories</a>, <a href="#" rel="tag">Clothings</a></span>
                                                </div>
                                                <div class="single-product-sharing">
                                                    <div class="widget widget_socialsharing_widget">
                                                        <h3 class="widget-title">Share this product</h3>
                                                        <ul class="social-icons">
                                                            <li><a class="facebook social-icon" href="#"><i class="fa fa-facebook"></i></a></li>
                                                            <li><a class="twitter social-icon" href="#"><i class="fa fa-twitter"></i></a></li>
                                                            <li><a class="pinterest social-icon" href="#"><i class="fa fa-pinterest"></i></a></li>
                                                            <li><a class="gplus social-icon" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                            <li><a class="linkedin social-icon" href="#"><i class="fa fa-linkedin"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>